<!DOCTYPE html>
<html>
<head>
  <title>Data Model Discovery</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <% let models = arr %>
  
  <style>
    body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

#model-list {
  margin: 20px;
}

#models {
  list-style-type: none;
}

.model {
  padding: 10px;
  margin: 10px 0;
  background-color: #f2f2f2;
  border-radius: 5px;
  cursor: pointer;
}

.model:hover {
  background-color: #e6e6e6;
}

#model-details {
  margin: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  display: none;
}

#model-details h2 {
  margin: 0;
}

#model-details p {
  margin: 10px 0;
}

  </style>

  
</head>
<body>

  <h1>Data Model Discovery</h1>
  <div id="model-list">
   <ul id="models">
     <!-- data models will be added dynamically here -->
     <% console.log(models) %>
     <% models.forEach(model=>{%>
      <li class="model">
      <a class="model" href="/<%=model.id%>" data-model-id="<%=model.id%>"><%=model.name%></a>
    </li>
    <%}) %> 
   </ul>
  </div>
  <div id="model-details"></div>
</body>
</html>
